html{height: 100%; width: 100%;}
body{
	width: 100%; height: 100%;
	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px; line-height: 15px;
	background:#000000;
}
img{border: none;}
a{color: #8D0D19;}
a:hover{color: #1A446C}

#bungkusheader{
	height:220px; width:100%;
	background: url("../images/wrapper_bg.png");
	background-repeat:repeat-x;
	background-position:bottom;
}
#header{
	height: 220px;width:1024px;margin-left:176px;
	padding: 0; text-align:center;
	color: #D4E6F4;
}
#header p{padding: 1em; margin: 0;font-size:100px;}
#header a {text-decoration:none; color:#FFFFFF}
#header a:hover{text-decoration:none;color:#F062F1;}
#main{
	height:600px; width:100%;
	margin: 0; padding:0;
	background: #EEE4B9;
}
#footer{
	clear: both;
	height: 2em; margin: 0; padding: 1em;
	text-align: center;
	background:#1A446C; color: #D4E6F4;
}
/*NAVIGATION*/
#navigation{
	float:left;
	width: 150px; height:100%;
	margin: 0; padding: 0 2em;
	color: #D4E6F4; background: #8D0D19;
}
#navigation a{color: #D4E6F4; text-decoration: none;}
#navigation a:hover{color: #FFFFFF;}
ul.subjects{
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages{padding-left:2em; list-style:square;}
.selected{font-weight:bold;}

/*PAGE CONTENT*/
#page {
	float:left; height:100%;
	padding-left: 2em; vertical-align: top;
	background: #EEE4B9;
}
#page h2 {color: #8D0D19; margin-top: 1em;}
#page h3 {color: #8D0D19;}