html{height: 100%; width: 100%;}
body{
	width: 100%; height: 100%;
   	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px; line-height: 15px;
	color: white;
	background-color:#000000;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 1366px 768px;
}

img{border: none;}
a{color: white;}
a:hover{color: #1A446C;}

#bungkuslogo{
	width:176px;
	height:176px;
	float:left;
	
}

#bungkuslogo img{
	width:176px;
	height:176px;
}	

#bungkusheader{
	height:220px; width:100%;
	background: url("../images/wrapper_bg.png");
	background-repeat:repeat-x;
	background-position:bottom;
}
#header{
	float:left;
	height: 220px;width:1024px;
	padding: 0; text-align:center;
	color: #D4E6F4;
}
#header p{padding: 1em; margin: 0;font-size:100px;}
#header a {text-decoration:none; color:white}
#header a:hover{text-decoration:none;color:#AAAAAA;}
#main{
	height:100%; width:100%;
	padding:2em;
	background-image:url("bg.png");
}
#footer{
	clear: both;
	height: 2em; margin: 0; padding: 1em;
	text-align: center;
	 color: white;
}
/*NAVIGATION*/
#navigation{
	float:left;
	width: 150px; height:100%;
	margin-left: 166px; margin-right:20px;
	padding-left:8px;
	background-image:url("bg.png");
	color: white;
}
#navigation a{color: white; text-decoration: none;}
#navigation a:hover{color: #AAAAAA;}
ul.subjects{
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages{padding-left:2em; list-style:square;}
.selected{font-weight:bold;}

/*PAGE CONTENT*/
#page {
	 height:100%;
	 width: 768px;
	 margin-left: 380px;
	 vertical-align: top;
	
}
#page h2 {color: white; margin-top: 1em;}
#page h3 {color: white;}